window {
margin: 5px;
border: 2px solid rgba(130,170,172,.5);
border-radius: 10px;
background-color: rgba(130,170,172,.5);
}

#input {
border-radius: 10px;
margin: 5px;
border: 2px solid rgba(73,115,127, .5);
background-color: rgba(73,115,127, 0);
}

#inner-box {
margin: 5px;
border-radius: 10px;
border: 2px solid rgb(38,69,83);
background-color: rgba(38,69,83,.5);
}

#outer-box {
margin: 5px;
border-radius: 10px;
border: 2px solid #2d4e5d;
background-color: #2d4e5d;
}

#scroll {
border-radius: 10px;
margin: 5px;
background: transparent;
}

#text {
margin: 3px;
color: white;
}

#entry:selected {
background-color: #2d4e5d;
}

#text:selected {
background-color: #649ab3;
border-radius: 3px;
/*padding-right: 10px;*/
}
