* {
    border: none;
    font-family: 'Arial','Symbols Nerd Font Mono';
    font-size: 14px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  }

.alonebox {
    border-radius: 10px;
    background-color: rgba(25, 35, 46, 1);
    color: #78a3a6;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tray-item {
    background: none;
    border: 0px;
    padding: 0px;
}

.agsbar {
    background-color: rgba(18, 42, 46, 0.5);
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 12.5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12.5px;
}

.workspace-button {
    background: rgba(25, 35,46, 1);
    border-radius: 10px;
    margin-left:3px;
    margin-right:3px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #78a3a6;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.68);
    /*transition: all 0.3s cubic-bezier(0.05, 0.9, 0.1, 1.05);*/
}
  
.workspace-button-focused {
    background: rgba(33, 46, 60, 1);
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    /*transition: all 0.3s cubic-bezier(0.05, 0.9, 0.1, 1.05); */
}

.arch-flex {
    font-size: 17px;
    color: #78a3a6;
}

.boxleft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.boxright {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
    margin-left: 0px;
    margin-right: 0px;
}